/* setting properties for all elements*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;   /* padding and border r included in width & height*/
    text-decoration: none;      /* decoration to text like underline, overline , line-through etc.*/ 
}

.max-width{
    max-width: 1300px;
    padding: 0 80;
    margin: auto;
}

/* -------------- navbar styling----------------- */
.navbar{
    position: fixed;
    width : 100%;
    padding: 15px 0;
    background-color: crimson;
    font-family: 'Ubuntu', sans-serif; 
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* giving properties to logo */
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 4%;
}

.navbar .logo a span{
    color: #111;
}

/* giving properties to list items */
.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin-right:15px;
}

.navbar .menu li a{
    color : #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.navbar .menu li a:hover{
    color: #111;
}


/* ------------------------home section styling----------------------------------- */
.home{
    display: flex;
    background: url('1.png') no-repeat right;
    height: 100vh;
    color: #111;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 200px;
}

/* setting the properties of different texts  */
.home .home-content .text-1{
    font-size: 27px;
}

/* name text  */
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color:rgba(146, 94, 56, 0.8);
    font-weight: 400;
}

/*--------------------------------------- about section styling -------------------------- */
section{
    padding: 100px 0;
}

.about,.skills,.resume, .contact{
    font-family: 'Poppins',sans-serif;
}

.about .title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline crimson;
    color: rgba(0, 0, 0, 0.8)
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
}

.about .about-content .column{
    width: 50%;
}

.about .about-content .left{
    width: 45%;

}

.about .about-content .left img{
    width: 322px;
    height: 325px;
    object-fit: cover;
    margin-left: 35px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .head-right{
    color:rgba(214, 33, 33, 0.8);
    font-size: 30px;
}

.about .about-content .right ul li{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.about .about-content .right ul li span{
    color:rgba(23, 26, 28, 0.8);
}

.about .about-content .right #about-text{
    margin-top: 20px;
    color:rgba(23, 26, 28, 0.8);
    text-align:justify;
    margin-right: 15px;
}

/*----------------------------------- skills section styling ------------------------------------ */
.skills{
    background-color: rgb(162, 135, 114);
    color: #111;
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.skills .title{
    text-align: center;
    text-decoration: underline rgb(78, 70, 70);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.skills .skills-content .column{
    width: 100%;
}

.skills .skills-content .left{
    width: 45%;
}

.skills .skills-content .left .text{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(63, 57, 57);
    text-align: justify;
}

.skills .skills-content .left  p{
    text-align: justify;
}

.skills .skills-content .right{
    width: 47%;
}

.skills .skills-content .right .bars{
    margin-bottom: 10px;  
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .html{
    height: 5px;
    width: 80%;
    background: #fff;
}

.skills .skills-content .right .css{
    height: 5px;
    width: 55%;
    background: #fff;
}

.skills .skills-content .right .js{
    height: 5px;
    width: 30%;
    background: #fff;
}

/*-------------------------------------- contact section styling ------------------------------ */

.contact{
    background-color: rgb(162, 135, 114);
    color: #111;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.contact .title{
    text-align: center;
    text-decoration: underline rgba(81, 91, 96, 0.8);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


.contact .contact-content .column{
    width:100%;
}

.contact .contact-content .left{
    width: 45%;
}

.contact .contact-content .left .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin:10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
      margin-left:30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color:rgba(80, 107, 121, 0.8)
}

.contact .contact-content .info .head{
    font-weight: 500;    
}

.contact .contact-content .info .sub-title{
    color:#333;
}

.contact .contact-content .right{
    width: 45%;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.contact .right form .name{
   margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
 }

 .contact .right form .textarea{
    height: 80px;
    width: 100%;
 }

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border:1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
   padding-top: 10px;
   resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
   width: 100%;
   height: 100%;
   border: 2px solid rgba(83, 91, 95, 0.8);
   background: rgba(83, 91, 95, 0.8);
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   cursor:pointer;
}

.contact .right form .button button:hover{
    color:rgba(83, 91, 95, 0.8);
    background: none;
}
/*--------------------------------------- resume section styling-------------------------- */
.resume .title h2{
    text-align: center;
    text-decoration: underline rgba(0, 0, 0, 0.8);
    color: rgba(158, 98, 48, 0.8);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.resume .resume-title{
    color: rgba(158, 98, 48, 0.8);
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 3%;
}

.resume .resume-column{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.resume .resume-column h4{
     background-color: rgba(158, 98, 48, 0.8);
     color:white;
}

.resume .resume-content .left{
    width: 40%;
}

.resume .resume-content .right{
    width: 40%;
}

.resume .resume-content .right .resume-item{
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
